# .github/workflows/dispatch-build.yml
name: Build & Push New Golang Docker Build Server Image

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Git branch or PR ref to build'
        required: true
      tag:
        description: 'Docker image tag (e.g. v1.2.3 or latest)'
        required: true

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #6.0.1
        with:
          ref: ${{ github.event.inputs.branch }}

      - name: Set up QEMU (optional, for multi-arch)
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f

      - name: Login to DockerHub (development repo)
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
        with:
          registry: docker.io
          username: ${{ secrets.DOCKERHUB_DEV_USERNAME }}
          password: ${{ secrets.DOCKERHUB_DEV_TOKEN }}

      - name: Build & push development image
        run: |
          docker buildx build \
            --tag mattermostdevelopment/mattermost-build-server:${{ github.event.inputs.tag }} \
            --push \
            -f Dockerfile.buildenv .

      - name: Login to DockerHub (production repo)
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
        with:
          registry: docker.io
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & push production image
        run: |
          docker buildx build \
            --tag mattermost/mattermost-build-server:${{ github.event.inputs.tag }} \
            --push \
            -f Dockerfile.buildenv .
