# Base CI template which is called from i18n-ci-pr.yml

name: i18n CI Template
on:
  workflow_call:

jobs:
  check-files:
    name: Check only English translation files changed
    runs-on: ubuntu-22.04
    if: github.event.pull_request.user.login != 'weblate' # Allow weblate to modify non-English
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@7d5bbf4e8d5c63a42c94e1c1bff2394247117e96 # v45.0.7
        with:
          files: |
            server/i18n/*.json
            webapp/channels/src/i18n/*.json
            !server/i18n/en.json
            !webapp/channels/src/i18n/en.json

      - name: Check changed files
        if: steps.changed-files.outputs.any_changed == 'true'
        run: |
          echo "::error title=Non-English i18n files changed::Only PRs from weblate should modify non-English translation files."
          exit 1
